:root {
  --background-color: #2c313a;
  --background-color-header: #282c34;
  --color: #c0c0c0;
  --accent-color: tomato;
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(/Helvetica-Bold.ttf);
}

* {
  font-family: Helvetica-Bold, Arial, sans-serif;
  color: var(--color);
  padding: 0;
  margin: 0;
}

.heightFix {
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: 0.35ch dotted underline var(--color);
  outline: none;
}

a.router-link-exact-active {
  color: var(--accent-color);
}

input[type="text"] {
  padding: 0.1ch 0.8ch;
  border-radius: 100em;
  font-size: 1em;
  color: black;
  padding-left: 1ch;
  padding-right: 1ch;
}

button,
input[type="submit"] {
  color: black;
  border: none;
  border-radius: 100em;
  padding: 0.4ch 1ch;
  font-size: 1em;
  font-size: x-large;
  cursor: pointer;
  background-color: var(--accent-color);
}

button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
  outline: whitesmoke 1px solid;
  outline-offset: 2px;
}

label:hover {
  color: var(--accent-color);
}

.pillInput>*:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pillInput>*:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/* color palette from <https://github.com/vuejs/theme> */
/* :root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
/*
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/